@keyframes backgroundColors {
  0% {
    background-color: #00aaff;
  }
  50% {
    background-color: #0048a6;
  }
  100% {
    background-color: #0000ff;
  }
}
body {
  animation: backgroundColors 10s infinite;
}

header nav.navbar {
  background-color: #0000b2;
}
header nav.navbar .navbar-brand {
  color: #000000;
  text-decoration: none;
}
header nav.navbar .collapse.navbar-collapse ul.navbar-nav {
  margin-left: auto;
}
header nav.navbar .collapse.navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
  color: #ffffff;
}
header nav.navbar .collapse.navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #16006e;
}
header nav.navbar .collapse.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu {
  background-color: #b7c4ff;
}
header nav.navbar .collapse.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu li a.dropdown-item {
  color: #126fcd;
}

main section .container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
main section .container h1, main section .container h2 {
  color: #000000;
  font-size: 1.5rem;
}
main section .container p {
  color: #000000;
  margin: 10px 0;
}

main .container .row .col-md-4 .card {
  background-color: #ffbaa5;
  padding: 10px;
  width: 18rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
main .container .row .col-md-4 .card .card-img-top {
  height: 200px;
  object-fit: cover;
}
main .container .row .col-md-4 .card .card:hover {
  transform: translate(-5px);
}
main .container .row .col-md-4 .card .card-body {
  padding: 1.25rem;
}
main .container .row .col-md-4 .card .card-body .card-text {
  color: #000000;
  margin: 10px 0;
  text-align: center;
  font-size: 18px;
}

main .container .row .col-md-4 .card {
  background-color: #ffbaa5;
  padding: 10px;
  width: 18rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
main .container .row .col-md-4 .card .card-img-top {
  height: 200px;
  object-fit: cover;
}
main .container .row .col-md-4 .card .card:hover {
  transform: translate(-5px);
}
main .container .row .col-md-4 .card .card-body {
  padding: 1.25rem;
}
main .container .row .col-md-4 .card .card-body .card-text {
  color: #000000;
  margin: 10px 0;
  text-align: center;
  font-size: 18px;
}

main .form-container {
  background-color: #ffc7c7;
  padding: 20px;
  color: #000000;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px;
  border-radius: 5px;
}
main .form-container h2 {
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}
main .form-container form .mb-3 {
  margin-bottom: 10px;
}
main .form-container form .form-label {
  font-weight: bold;
}
main .form-container form .form-control {
  border-radius: 4px;
  border: 1px solid #c9c9c9;
  padding: 8px;
}
main .form-container form .form-control:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
main .form-container form .btn-primary {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}
main .form-container form .btn-primary:hover {
  background-color: #0069d9;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

main section .container {
  padding: 20px;
}
main section .container h1 {
  color: #000000;
  margin-bottom: 10px;
}
main section .container p {
  color: #000000;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}

.footer h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer p {
  margin-bottom: 10px;
}

/*# sourceMappingURL=styles.css.map */
